<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>
<!-- <?php
	echo $name2;
?>
<br/>
<?php
	echo $name;
?>	
<br/>
<?php
	echo $sex;
?>
<br/>
<?php
	echo $today;
?>	 -->
<!-- {$me['name']}
{$me.name} -->
<!-- {$me.sex} -->
<!-- {$me['age']+1} -->
<!-- {$me.}
 -->
<!--  {$now|date='Y-m-d H:i:s',###} -->
<!-- {$Think.server.http_host} -->
<volist name="id" id="vo">
{$vo.id}---{$vo.name}<br/>
</volist>
<!-- <foreach name='person' item='data'>
{$data['name']}----{$data['age']}<br/>
</foreach> -->
</body>
</html	